#pageTitle
{
	margin-top: 3rem;
}

.my-heart
{
	color: red;
}

p a
{
	border-bottom: 1px dotted purple;
	opacity: .9;
}

p a:hover
{
	border-bottom: 1px solid purple;
	opacity: 1;
}

.my-font-icon
{
	display: inline-block;
	width: 1em;
	height: 1em;
}

pre
{
	max-height: 30rem;
	overflow: auto;
}

p
{
	letter-spacing: 1px;
	word-spacing: -1px;
	line-height: 1.3;
}

.top-bar li.has-form a.image-link
{
	padding: 0;
}

.top-bar li.has-form a.image-link img
{
	width: 100%;
}

iframe.youtube
{
	display: block;
	margin: 0 auto;
}


.social-share
{
	margin: 0 auto;
	text-align: center;
}

.fb_iframe_widget span
{
	vertical-align: baseline !important;
}

.social-share .title,
.social-share .facebook, .fb-send,
.social-share .google, .social-share .twitter
{
	margin-right: 20px;
}

.social-share .title,
.social-share .facebook,
.social-share .google,
.social-share .twitter,
.social-share .pintrest
{
	display: inline-block;
	padding-top: 20px;
	height: 45px;
	overflow: hidden;
	padding: 10px;
}

.social-share .entry
{
	background-color: transparent;
}

